body {
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.cont-calc {
    background-color: rgba(255, 255, 255, 0.308);
    position: absolute;
    top: 18%;
    left: 27%;
    margin-top: -70px;
    margin-left: -50px;
    width: 50%;
    height: 80%;
    padding: 2rem;
    padding-top: 0;
}

input[type="number"] {
    background-color: rgba(255, 255, 255, 0.836);
    border-style: none;
    height: 1rem;
    font-size: 1.5rem;
    font-family: 'Staatliches', cursive;
    transition: 0.5s;
    padding: 1rem;
}

input[type="number"]:focus {
    background-color: rgba(255, 255, 255, 0.555);
    transition: 0.5s;
}

.inputnumero {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    margin-bottom: 1rem;
}

.resultado {
    margin-top: 2rem;
    margin-bottom: 1rem;
    height: 15%;
    padding-top: 1.5rem;
    color: rgb(0, 68, 255);
    text-align: center;
    background-color: rgba(255, 255, 255, 0.596);
    transition: 0.4s;
    font-family: 'Staatliches', cursive;
    font-size: 2rem;
}

.etiq {
    margin-left: 22%;
    font-family: 'Staatliches', cursive;
    text-align: center !important;
}

#res {
    margin-left: auto;
    margin-right: 1rem;
    background-color: teal;
    border-style: none;
    width: 30%;
    border-radius: 2rem;
    cursor: pointer !important;
    font-family: 'Staatliches', cursive;
    font-size: 1.3rem;
    padding: 0.7rem;
    color: white;
    -webkit-box-shadow: 4px 6px 12px -2px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 4px 6px 12px -2px rgba(0, 0, 0, 0.57);
    box-shadow: 4px 6px 12px -2px rgba(0, 0, 0, 0.57);
    transition: 0.5s;
}

#res:hover {
    background-color: rgba(0, 128, 128, 0.76);
    transition: 0.5s;
}

#del {
    margin-left: 1rem;
    margin-right: auto;
    background-color: rgb(175, 2, 2);
    border-style: none;
    width: 20%;
    border-radius: 2rem;
    font-family: 'Staatliches', cursive;
    font-size: 1.3rem;
    padding: 0.7rem;
    color: white;
    -webkit-box-shadow: 4px 6px 12px -2px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 4px 6px 12px -2px rgba(0, 0, 0, 0.57);
    box-shadow: 4px 6px 12px -2px rgba(0, 0, 0, 0.57);
    transition: 0.5s;
}

#del:hover {
    background-color: rgba(124, 2, 2, 0.938);
    transition: 0.5s;
    cursor: pointer !important;
}

#opc {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 128, 128, 0.685);
    border-style: none;
    width: 60%;
    cursor: pointer;
    font-family: 'Staatliches', cursive;
    font-size: 1.3rem;
    padding: 0.7rem;
    color: white;
    transition: 0.5s;
}

#opc:focus {
    opacity: 0.6;
}

.cont-btns {
    display: flex;
}

.encabezado {
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0b5e8f 0%, #1369af 100%);
    color: white;
    padding: 0.5rem;
    font-family: 'Staatliches', cursive;
    font-weight: lighter;
    text-align: center;
    font-size: 2rem;
}